/* Universal Selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}


/* Header Style Start */

header {
    padding: 10px;
    margin: 5px;
     background-color: darkgray;
}

header ul {
    font-size: 25px;
    margin: 5px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    
}

header ul li {
    padding: 5 px 5px;
}

/* Header Style End */


/* Main Style Start */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-text p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.intro-text h1 {
    text-align: center;
    font-size: 35px;
}
/* Main Style End */


/* Button Style Start */

button {
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    border: solid 2px black;
    border-radius: 25px;
}

.quiz-button:hover {
    background-color: darkgray;
}

.high-scores:hover {
    background-color: lightgray;
}
/* Button Style End */


/* Quiz Content Section Style Start */
 .quiz-content {
    text-align: center;
    justify-content: center;
}

.choices ul li {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    border: solid 2px black;
    border-radius: 25px;
    justify-content: center;
}

.choices ul li:hover {
    background-color: darkgray;
}

.questions {
    font-size: 25px;
    font-weight: bold;
}

.answer p {
    font-size: 25px;
    font-weight: bold;
    background-color: darkgray;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

.form p, label {
    font-size: 25px;
    font-weight: bold;
}

.form input {
    width: 10%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 25px;
}

.form {
    display: flex;
    justify-content: center;
}

/* Quiz Content Section Style End */

